In [5]:
import pandas as pd
import numpy as np
# para la moda
from scipy import stats

In [6]:
ruta_archivo = "../data/Adidas US Sales Datasets.xlsx"
df = pd.read_excel(ruta_archivo, skiprows=4, index_col=False)
df = df.loc[:, ~df.columns.str.contains("^Unnamed")]  # Filtra columnas sin nombre
df.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.0,0.50,In-store
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.0,0.30,In-store
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.0,0.35,In-store
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.0,0.35,In-store
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.0,0.30,In-store

In [7]:
df.dtypes

Retailer                    object
Retailer ID                  int64
Invoice Date        datetime64[ns]
Region                      object
State                       object
City                        object
Product                     object
Price per Unit             float64
Units Sold                   int64
Total Sales                float64
Operating Profit           float64
Operating Margin           float64
Sales Method                object
dtype: object

In [24]:
#campo = df["Units Sold"]
#df.loc[campo == 0]

## Medidas de Tendencia Central

### Media (Promedio)

In [19]:
# Promedio de unidades vendidas
arr = df["Units Sold"]
arr = np.array(arr)
print(np.sort(arr))
media = np.mean(arr)
print(f"La media o promedio es : {media}")

[   0    0    0 ... 1250 1250 1275]
La media o promedio es : 256.9300373134328

### Mediana

In [9]:
# Mediana: Dato central de datos ordenados
data = df["Units Sold"]
arr = np.array(data)
mediana = np.median(arr)
print("La mediana es: ",mediana)

La mediana es:  176.0

### Moda

In [14]:
# Moda: Dato que más se repiten
data = df["Units Sold"]
arr = np.array(data)

moda = stats.mode(arr, keepdims=True)
print(f"La moda es: {moda.mode[0]} y su cantidad {moda.count[0]}")

La moda es: 225 y su cantidad 207

## Medidas de Dispersión

### Rango

In [15]:
# RANGO: intervalo entre el valor minimo y maximo
data = df["Units Sold"]
arr = np.array(data)

valor_min = np.min(arr)
valor_max = np.max(arr)

rango = valor_max - valor_min
print(f"El rango entre {valor_min} y {valor_max} es : {rango}")

El rango entre 0 y 1275 es : 1275

### Varianza

Mide cuánto se alejan los valores de la media

In [25]:
# Varianza en Precios por unidad
data = df["Price per Unit"]
data = np.array(data)

varianza = np.var(data, ddof=1)
print(f"La varianza es {varianza}")

La varianza es 216.24870460420334