In [36]:
import pandas as pd
import numpy as np
from scipy import stats

## Estadísticas

### Población: 
- La tabla bajo estudio que es: adidas_sales_us -> Conjunto de ventas de adidas en estados unidos
### Muestra:
- NaN
### Variables:
- `Retailer`: Punto de Venta
- `Retailer ID`: ID del Punto de Venta
- `Invoice Date`: Es la fecha de factura para por ejemplo: 
    - Analizar ventas en función del tiempo (ventas mensuales o anuales).
    - Identificar patrones y tendencias en las ventas.
    - Realizar análisis de ventas por temporada o periodo.
- `Region`: Zona geográfica en la que se realizaron las ventas para por ejemplo:
    - Analizar las ventas por región e identificar patrones y tendencias.
    - Comparar el desempeño de diferentes regiones.
    - Realizar análisis de mercado y planificar estrategias de marketing y ventas por región.
- `State`: Estado en específico donde se realizaron las ventas para por ejemplo:
    - Analizar las ventas por estado e identicar patrones y tendencias.
    - Comparar el desempeño de diferentes estados.
    - Realizar análisis de mercado y planificar estratégias de marketing y ventas por estado.
- `City`: Ciudad específica donde se realizaron las ventas para por ejemplo:
    - Analizar las ventas por ciudad e identificar patrones y tendencias.
    - Comparar el desempeño de diferentes ciudades.
    - Realizar análisis de mercado y planificar estrategias de marketing y ventas por ciudad.
- `Product`: Se refiere al producto de Adidas específico que se vendió, se puede usar para:
    - Analizar las ventas por estado e identificar patrones y tendencias.
    - Comparar el desempeño de diferentes productos.
    - Realizar análisis de mercado y planificar estrategias de marketing y ventas por producto.
- `Price per Unit`: Precio de venta de cada unidad, se puede usar para:
    - Analizar las ventas en función del precio e identificar patrones y tendencias.
    - Comparar el desempeño de diferentes productos en función de su precio.
    - Realizar análisis de elasticidad de la demanda y planificar estrategias de precios.
- `Units Sold`: Unidades vendidas, se refiere al número de unidades vendidas del producto, se puede usar parapor ejemplo:
    - Analizar el volumen de ventas e identificar patrones y tendencias.
    - Comparar el desempeño de diferentes productos en función de las unidades vendidas.
    - Realizar análisis de ventas y planificar estrategias de inventario y producción.
- `Total Sales`: Ventas totales, se refiere al monto total de dinero generado por la venta de los productos de Adidas, se puede usar para:
    - Analizar el rendimiento financiero de las ventas.
    - Comparar el desempeño de diferentes productos o regiones en función de las ventas totales.
    - Realizar análisis de rentabilidad y planificar estrategias de crecimiento.
- `Operating Profit`: Beneficio operativo, se refiere a la ganancia que obtiene Adidas después de restar los costos operativos de las ventas, se puede usar para:
    - Analizar la rentabilidad de las operaciones de Adidas.
    - Comparar el desempeño de diferentes productos o regiones en función del beneficio operativo.
    - Realizar análisis de eficiencia y planificar estrategias de optimización de costos.
- `Operating Margin`: Margen operativo, se refiere al porcentaje de beneficio operativo que obtiene Adidas en relación con las ventas totales, se puede usar para:
    - Analizar la rentabilidad de las operaciones de Adidas en relación con las ventas.
    - Comparar el desempeño de diferentes productos o regiones en función del margen operativo.
    - Realizar análisis de eficiencia y planificar estrategias de optimización de costos.
- `Sales Method`: Método de venta, se refiere a la forma en que se realizaron las ventas de los productos de Adidas, se puede usar para:
    - Analizar las ventas en función del canal de venta.
    - Comparar el desempeño de diferentes métodos de venta.
    - Realizar análisis de mercado y planificar estrategias de ventas y markeing.


## Tipos de Datos

### Cuantitativos (Numéricos)

- `Price per Unit`: 

- `Units Sold`:

- `Total Sales`:

- `Operating Profit`:

- `Operatig Margin`:

### Cualitativos (Categóricos)

- `Retailer`: Para analizar y comparar el desempeño de cada uno de ellos.

- `Retailer ID`: ID

- `Invoice Date`: Campo de fechas.

- `Region`:

- `State`:

- `City`:

- `Product`:

- `Sales Method`:

## Estadísticas: Medidas de tendencia central

In [37]:
ruta_archivo = "../data/raw/adidas_us_sales_dataset.xlsx"
df = pd.read_excel(ruta_archivo, index_col=False)
df

,Unnamed: 0,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,0,Foot Locker,1185732,1969-12-31 19:00:43.831,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.00,0.50,In-store
1,1,Foot Locker,1185732,1969-12-31 19:00:43.832,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.00,0.30,In-store
2,2,Foot Locker,1185732,1969-12-31 19:00:43.833,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.00,0.35,In-store
3,3,Foot Locker,1185732,1969-12-31 19:00:43.834,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.00,0.35,In-store
4,4,Foot Locker,1185732,1969-12-31 19:00:43.835,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.00,0.30,In-store
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9643,9643,Foot Locker,1185732,1969-12-31 19:00:44.220,Northeast,New Hampshire,Manchester,Men's Apparel,50.0,64,3200.0,896.00,0.28,Outlet
9644,9644,Foot Locker,1185732,1969-12-31 19:00:44.220,Northeast,New Hampshire,Manchester,Women's Apparel,41.0,105,4305.0,1377.60,0.32,Outlet
9645,9645,Foot Locker,1185732,1969-12-31 19:00:44.249,Northeast,New Hampshire,Manchester,Men's Street Footwear,41.0,184,7544.0,2791.28,0.37,Outlet
9646,9646,Foot Locker,1185732,1969-12-31 19:00:44.249,Northeast,New Hampshire,Manchester,Men's Athletic Footwear,42.0,70,2940.0,1234.80,0.42,Outlet
9647,9647,Foot Locker,1185732,1969-12-31 19:00:44.249,Northeast,New Hampshire,Manchester,Women's Street Footwear,29.0,83,2407.0,649.89,0.27,Outlet

### Media

In [38]:
# Media o promedio para Price per Unit
data = df['Price per Unit']
media = np.mean(data)
print(f"El promedio de precios de venta por unidad es : {media.round(0)}")

El promedio de precios de venta por unidad es : 45.0

In [39]:
# Media o promedio de Units sold
data = df['Units Sold']
media = np.mean(data)
print(f"El promedio de unidades vendidas es : {media.round(0)}")

El promedio de unidades vendidas es : 257.0

In [40]:
# Media o promedio de total sales
data = df['Total Sales']
media = np.mean(data)
print(f"El promedio de ventas totales es : {media.round(0)}")

El promedio de ventas totales es : 93273.0

### Mediana

In [41]:
# Calculamos el valor central para Price per Unit
data = df['Price per Unit']
mediana = np.median(data)
print(f'El valor central de precios de venta por unidad es : {mediana}')

El valor central de precios de venta por unidad es : 45.0

In [42]:
# Calculamos el valor central para Units Sold
data = df['Units Sold']
mediana = np.median(data)
print(f"El valor central de unidades vendidas es : {mediana}")

El valor central de unidades vendidas es : 176.0

In [43]:
# Calculamos el valor central para total sales
data = df['Total Sales']
mediana = np.median(data)
print(f"El valor central de ventas totales es : {mediana}")

El valor central de ventas totales es : 9576.0

### Moda

In [44]:
data = df['Invoice Date']
moda = stats.mode(data, keepdims=True)
print(f"La moda o dato que más se repite es : {moda[0]} {moda[1]} veces") 
# Nos da una advertencia porque estamos aplicando las funciones de Scipy a un valor no numérico

La moda o dato que más se repite es : ['1969-12-31T19:00:44.213000000'] [77] veces

C:\Users\harri\AppData\Local\Temp\ipykernel_8704\2345729561.py:2: DeprecationWarning: Support for non-numeric arrays has been deprecated as of SciPy 1.9.0 and will be removed in 1.11.0. `pandas.DataFrame.mode` can be used instead, see https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mode.html.
  moda = stats.mode(data, keepdims=True)

In [45]:
# Supongamos que df es tu DataFrame y 'Invoice Date' es una columna de tipo fecha.
data = df['Invoice Date']

# Calcular la moda
moda = data.mode()

# Calcular la frecuencia con la que se repite la moda
frecuencia = data.value_counts().loc[moda[0]]

print(f"La moda es: {moda[0]}")
print(f"Y se repite {frecuencia} veces")

La moda es: 1969-12-31 19:00:44.213000
Y se repite 77 veces

In [46]:
# Moda para un campo de tipo int: Ver cual es el precio que más se repite
data = df['Price per Unit']
moda = stats.mode(data, keepdims=True)
print(f"La moda o dato que más se repite es: {moda[0]}")
print(f"Y se repite: {moda[1]} veces")

La moda o dato que más se repite es: [50.]
Y se repite: [557] veces

## Estadística: Medidas de Dispersión

- Describen como se distribuyen los datos en relación con la media

### Rango

R = Vmax - Vmin

In [47]:
# Rango de unidades vendidas
data = df['Units Sold']
rango = np.max(data) - np.min(data)
print(f"El rango entre {np.max(data)} y {np.min(data)} es : {rango}")

El rango entre 1275 y 0 es : 1275

In [48]:
# El rango de ventas totales (total sales)
data = df['Total Sales']
rango = np.max(data) - np.min(data)
print(f"El rango entre {np.max(data)} y {np.min(data)} es : {rango}")

El rango entre 825000.0000000001 y 0.0 es : 825000.0000000001

- Invoice Date es un dato de tiempo o dato temporal para la cual si queremos calcular el rango
debemos de hacerlo entre la fecha más reciente y la más antigua

r = f_reciente - f_antigua

In [49]:
# Primero convertimos la data a tipo datetime
df['Invoice Date'] = pd.to_datetime(df['Invoice Date'])
# df.dtypes: para comparar el tipo de dato
rango_tiempo = df['Invoice Date'].max() - df['Invoice Date'].min()
print(f"El rango de tiempo entre {df['Invoice Date'].max()} y {df['Invoice Date'].min()} es : {rango_tiempo}")

El rango de tiempo entre 1969-12-31 19:00:44.561000 y 1969-12-31 19:00:43.831000 es : 0 days 00:00:00.730000

### Varianza (Poblacional y Muestral)

In [50]:
# Varianza poblacional
data = df['Total Sales']
varianza_poblacional = np.var(data)
varianza_muestral = np.var(data, ddof=1)
print(f"La varianza poblacional con respecto a la media {np.mean(data)} es {varianza_poblacional}")

La varianza poblacional con respecto a la media 93273.4375 es 20138068308.190887

In [51]:
# varianza muestral: se aplica comunmente en el análisis de datos ya que 
# los analistas tienen o tenemos acceso a solo una parte de la población
# es decir a datos muestrales
print(f"La varianza muestral de ventas totales con respecto al promedio(media) {np.mean(data)} es {varianza_muestral}")

La varianza muestral de ventas totales con respecto al promedio(media) 93273.4375 es 20140155803.61

In [56]:
# Interpretando la varianza:
desviacion_standar = np.sqrt(varianza_muestral)
print(f"La desviación estandar muestral es : {desviacion_standar}")
# Quiere decir que las ventas varían en 141916.0167268304 hacia arriba o abajo con respecto a la media

La desviación estandar muestral es : 141916.0167268304

### Desviación Estandar

In [57]:
# Desviación Estandar Poblacional
data = df['Total Sales']
dsp = np.std(data)
print(f"La desviación estandar poblacional es : {dsp}")

La desviación estandar poblacional es : 141908.66185046948

In [58]:
# Desviación Estandar Muestral
data = df['Total Sales']
dsm = np.std(data, ddof=1)
print(f"La desviación estandar muestral es : {dsm}")

La desviación estandar muestral es : 141916.0167268304